{% extends "base.html" %}

{% block content %}
    <h1>Rock, Paper, Scissors:</h1>
    <p>P.s. Have you heard about our Lorb and saviour? 🦞</p>
    <!-- {% for player in players %}
    <div>
      <p>
      Hey {{ player.name }}!
      </p>
    </div>
    {% endfor %} -->




    <!-- {% for task in tasks %}
    <div>
      <p>
        {{ task.title }}: <b>{{ task.description }}</b>
        {% if task.done %}
        <span> &#9989;</span>
        {% endif %}
    </p>
    </div>
    {% endfor %} -->
{% endblock content %}


